{% from "form_helper.html" import render_field %}
{% include "header.html" %}
<body class="w3-light-grey">
  {% include "menu.html" %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <section class="flashes">
      {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
      {% endfor %}
      </section>
    {% endif %}
  {% endwith %}
  {% block content %}
  <section>{{ _("An error has been detected. Please come back later.") }}</section>
  {% endblock %}
{% include "footer.html" %}