{% macro render_field(field, focus=False) %}
<p>
{% if field.type == "BooleanField" %}
<input type="checkbox" id="{{field.name}}" name="{{field.name}}" class="w3-check" {%if focus%}autofocus{%endif%}> <label for="{{field.name}}" class="">{{field.label.text}}</label>
{% else %}
{% if field.label.text != "" %}<label for="{{field.name}}" class="">{{field.label.text}}: </label>{% endif %}
{% if field.type in ("StringField", "IntegerField") %}<input type="text" id="{{field.name}}" name="{{field.name}}" placeholder="{{field.label.text}}" class="-input" {%if focus%}autofocus{%endif%}/>{% endif %}
{% if field.type == "PasswordField" %}<input type="password" id="{{field.name}}" name="{{field.name}}" class="-input" placeholder="{{field.label.text}}"/>{% endif %}
{% endif %}
{% if field.description.text != "" %} <i>{{ field.description }}</i>{% endif %}
</p>
{% endmacro %}
