<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/website.css') }}">
  <title>LibreCaptcha</title>
</head>
