{% extends "base.html" %}
{% block content %}
<section>
  <form action="{{ url_for('core.home') }}" method="POST">
    {{ g.form.hidden_tag() }}
    {{ render_field(g.form.login, True) }}
    {{ render_field(g.form.password) }}
    <p><button type="submit">Login</button></p>
    <p>
      <a href="{{ url_for('user.forgot_password') }}">Forgot password?</a>
      {% if g.subscription_available %}
      -
      <a href="{{ url_for('user.subscribe') }}">Create an account</a>
      {% endif %}
    </p>
  </form>
</section>
{% endblock %}