{% extends "base.html" %}
{% block content %}

<nav class="w3-sidebar w3-collapse w3-white" style="z-index:3;width:300px;" id="sidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col w3-bar">
      <span>Welcome, <strong>{{current_user.login}}</strong></span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <p>Dashboard</p>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="toggle('sidebar')" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="" class="w3-bar-item w3-button w3-padding"><i class="fa fa-dashboard"></i> Overview</a>
    <a href="#accounts" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users"></i> Accounts</a>
    <a href="#settings" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog"></i> Settings</a>
    <a href="{{url_for('user.logout')}}" class="w3-bar-item w3-button"><i class="fa fa-power-off"></i> Disconnect</a>
  </div>
</nav>

<div class="w3-main" style="margin-left:300px;">
  <header class="w3-container">
    <button class="w3-button w3-hide-large w3-right w3-hover-none w3-hover-text-light-grey" onclick="toggle('sidebar')"><i class="fa fa-bars"></i> Menu</button>
    <h1><i class="fa fa-dashboard w3-hide-small"></i> Administration</h1>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <span class="w3-xlarge">{{g.users|length}}</span>
        </div>
        <div class="w3-clear"></div>
        <p>Accounts</p>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <span class="w3-xlarge">{{g.visual_challenges}}</span>
        </div>
        <div class="w3-clear"></div>
        <p>Visual challenges</p>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-music w3-xxxlarge"></i></div>
        <div class="w3-right">
          <span class="w3-xlarge">{{g.audio_challenges}}</span>
        </div>
        <div class="w3-clear"></div>
        <p>Audio challenges</p>
      </div>
    </div>
  </div>

  <hr />

  <div class="w3-container">
    <a name="accounts"></a>
    <h2><i class="fa fa-users"></i> Accounts</h2>
    {% if not g.settings.enable_subscriptions %}
    {% if g.users|length >= g.settings.max_accounts %}
    <div class="w3-panel w3-round w3-red w3-card w3-col l3 w3-padding">No more people can subscribe!</div>
    {% endif %}
    <p class="w3-clear"><span>{{g.users|length}} / {{g.settings.max_accounts}}</span></p>
    {% endif %}
    <table class="w3-table w3-striped w3-border w3-white">
      <thead>
        <tr class="w3-light-grey">
          <th class="l3 w3-center">Login</th>
          <th class="l4 w3-center">Email address</th>
          <th class="l2 w3-center">Domains</th>
          <th class="l1 w3-center">Active</td>
          <th class="l1 w3-center">Administrator</td>
          <th class="l1 w3-center">Actions</th>
        </tr>
      </thead>
      {% for user in g.users %}
      <tr>
        <td>{{user.login}}</td>
        <td>{{user.email}}</td>
        <td class="w3-center"><i>0 domain</i></td>
        <td class="w3-center"><i class="fa fa-{%if user.active%}circle-check{%else%}ban{%endif%}"></i></td>
        <td class="w3-center">{%if user.admin%}<i class="fa fa-flag"></i>{%endif%}</td>
        <td>
          {% if user.active %}
          <a href="{{url_for('user.disable', user_id=user.id)}}" title="Disable"><i class="fa fa-toggle-off"></i></a>
          {% else %}
          <a href="{{url_for('user.enable', user_id=user.id)}}" title="Enable"><i class="fa fa-toggle-on"></i></a>
          <a href="{{url_for('user.delete', user_id=user.id)}}" title="Delete"><i class="fa fa-trash"></i></a>
          {% endif %}
          {% if user.admin %}
          <a href="{{url_for('user.revoke', user_id=user.id)}}" title="Revoke admin"><i class="fas fa-user-alt-slash"></i></a>
          {% else %}
          <a href="{{url_for('user.grant', user_id=user.id)}}" title="Grant admin"><i class="fas fa-user-graduate"></i></a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    <div class="w3-clear"></div>
    <div class="w3-margin"><button class="w3-button w3-round w3-blue" onclick="toggle('newuser')"><i class="fa fa-plus"></i> New account</button></div>
    <div class="w3-margin w3-animate-left" id="newuser" style="display: none">
      <form action="{{url_for('user.add')}}" method="POST" class="">
        {{ g.form_newuser.hidden_tag() }}
        <div class="w3-row">
          <div class="w3-col l2 w3-padding">
            <label for="login">Login: </label>
          </div>
          <div class="w3-col l5 w3-padding">
            <input type="text" id="login" name="login" class="w3-input" value="" />
          </div>
        </div>
        <div class="w3-row">
          <div class="w3-col l2 w3-padding">
            <label for="email">Email address: </label>
          </div>
          <div class="w3-col l5 w3-padding">
            <input type="text" id="email" name="email" class="w3-input" value="" />
          </div>
        </div>
        <div class="w3-row">
          <div class="w3-col l8 w3-padding">
            <input type="checkbox" id="user_active" name="active" class="w3-check" checked />
            <label for="user_active">Active</label>
          </div>
        </div>
        <div class="w3-row">
          <div class="w3-col l8 w3-padding">
            <input type="checkbox" id="user_admin" name="admin" class="w3-check" />
            <label for="user_admin">Admin</label>
          </div>
        </div>
        <div class="w3-row">
          <div class="w3-col l8 w3-padding">
            <button type="submit" class="w3-button w3-round w3-blue"><i class="fa fa-save"></i> Add</button>
            <button type="button" class="w3-button w3-round w3-grey" onclick="toggle('newuser')"><i class="fa fa-cancel"></i> Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <hr />

  <div class="w3-container">
    <a name="settings"></a>
    <h2><i class="fa fa-cog"></i> Settings</h2>
    <form action="{{url_for('user.admin')}}" method="POST" class="w3-third">
      {{ g.form_settings.hidden_tag() }}
      <div class="w3-row">
        <div class="w3-col l12 w3-padding">
          <input type="checkbox" id="enable_subscriptions" name="enable_subscriptions" class="w3-check" {%if g.form_settings.enable_subscriptions.data%}checked{%endif%}/>
          <label for="enable_subscriptions">Enable subscriptions</label>
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col l5 w3-padding">
          <label for="max_accounts">Max accounts: </label>
        </div>
        <div class="w3-col l2">
          <input type="number" id="max_accounts" name="max_accounts" class="w3-input" value="{{g.form_settings.max_accounts.data}}" />
        </div>
      </div>
      <div class="w3-row">
        <div class="w3-col l8 w3-padding">
          <button type="submit" class="w3-button w3-round w3-blue"><i class="fa fa-save"></i> Save</button>
        </div>
      </div>
    </form>
  </div>

  <footer class="w3-container w3-padding-16 w3-light-grey">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>
</div>

<script>
function toggle(element_id) {
  element = document.getElementById(element_id);
  if (element.style.display === "block") {
    element.style.display = "none";
  } else {
    element.style.display = "block";
  }
}
</script>
{% endblock %}