{% extends "base.html" %}
{% block content %}

<nav class="w3-sidebar w3-collapse w3-white" style="z-index:3;width:300px;" id="sidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col w3-bar">
      <span>Welcome, <strong>{{current_user.login}}</strong></span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <p>Dashboard</p>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="toggle('sidebar')" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-dashboard"></i> Overview</a>
    <a href="#keys" class="w3-bar-item w3-button w3-padding"><i class="fa fa-globe"></i> Keys</a>
    <a href="{{url_for('user.logout')}}" class="w3-bar-item w3-button"><i class="fa fa-power-off"></i> Disconnect</a>
  </div>
</nav>

<div class="w3-main" style="margin-left:300px;">
  <header class="w3-container">
    <button class="w3-button w3-hide-large w3-right w3-hover-none w3-hover-text-light-grey" onclick="toggle('sidebar')"><i class="fa fa-bars"></i> Menu</button>
    <h1><i class="fa fa-dashboard w3-hide-small"></i> My Dashboard</h1>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-key w3-xxxlarge"></i></div>
        <div class="w3-right">
          <span class="w3-xlarge">{{current_user.keys.all()|length}}</span>
        </div>
        <div class="w3-clear"></div>
        <p>Keys</p>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-globe w3-xxxlarge"></i></div>
        <div class="w3-right">
          <span class="w3-xlarge">{{current_user.domains|length}}</span>
        </div>
        <div class="w3-clear"></div>
        <p>Domains</p>
      </div>
    </div>
  </div>

  <hr />

  <div class="w3-container">
    <a name="keys"></a>
    <h2>Keys</h2>
    <p>
      In order to use LibreCaptcha, you need to assign a public key and a private key to a domain name. Those keys will be automatically generated.<br />
      Each domain will be linked to this specific key pair.<br />
      You can assign the same key to a lot of different domain names for ease of use or have one pair for each domain.<br />
      If a domain tries to use LibreCaptcha without the good public key, LibreCaptcha will raise an error.
    </p>
    {% if current_user.keys.all()|length==0%}
    <p><strong>No key yet, create one!</strong></p>
    {%else%}
    <table class="w3-table w3-striped w3-bordered w3-border w3-white">
      <thead>
        <tr class="w3-light-grey">
          <th class="l3 w3-center">Public key</th>
          <th class="l3 w3-center">Private key</th>
          <th class="l3 w3-center">Domains</th>
          <th class="l2 w3-center">Stats</td>
          <th class="l1 w3-center">Actions</th>
        </tr>
      </thead>
      {% for key in current_user.keys|sort(attribute="public") %}
      <tr>
        <td>{{key.public}}</td>
        <td>{{key.secret}}</td>
        <td>{{key.domains.all()|join(', ')}}</td>
        <td>{{key.displayed}} <i class="fa-solid fa-circle-question w3-hide-small"></i> - {{key.successful}} <i class="fa fa-check w3-hide-small"></i> - {{key.failed}} <i class="fa fa-triangle-exclamation w3-hide-small"></i></td>
        <td><a href="{{url_for('key.delete', key_id=key.id)}}"><i class="fa fa-trash"></i></a></td>
      </tr>
      {% endfor %}
    </table>
    {%endif%}
    <div class="w3-margin"><button class="w3-button w3-round w3-blue" onclick="toggle('newkey')"><i class="fa fa-plus"></i> New key</button></div>
    <div class="w3-margin w3-animate-left" id="newkey" style="display: none">
      <form action="{{url_for('key.add')}}" method="POST" class="">
        {{ g.form_newkey.hidden_tag() }}
        <div class="w3-row">
          <div class="w3-col l2 w3-padding">
            <label for="login">Domains: </label>
          </div>
          <div class="w3-col l5 w3-padding">
            <input type="text" id="name" name="name" class="w3-input" />
            <p><i>You can enter multiple domains by separating them with a comma.</i></p>
          </div>
        </div>
        <div class="w3-row">
          <div class="w3-col l8 w3-padding">
            <button type="submit" class="w3-button w3-round w3-blue"><i class="fa fa-save"></i> Add</button>
            <button type="button" class="w3-button w3-round w3-grey" onclick="toggle('newkey')"><i class="fa fa-cancel"></i> Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <footer class="w3-container w3-padding-16 w3-light-grey">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>
</div>

<script>
function toggle(element_id) {
  element = document.getElementById(element_id);
  if (element.style.display === "block") {
    element.style.display = "none";
  } else {
    element.style.display = "block";
  }
}
</script>
{% endblock %}