{% extends "base.html" %}
{% block content %}
<section>
  <form action="{{ url_for('user.forgot_password') }}" method="POST">
    {{ g.form.hidden_tag() }}
    {{ render_field(g.form.login, True) }}
    <p><button type="submit">Send me</button></p>
    <p><a href="{{ url_for('core.home')}}">Cancel</a></p>
  </form>
</section>
{% endblock %}