<b>Hello {{context.name}}</b>

<p>Someone has requested a password reset for your LibreCaptcha's account.</p>
<p>Here is a link to <a href="{{context.reset_url}}">reset your password</a></p>
<p>If it's an error, do not click on the link and delete this e-mail.</p>

<p></p>
<p>Kind regards,<br />LibreCaptcha's team</p>
