{% extends "base.html" %}
{% block content %}
<section>
  <form action="{{ url_for('user.reset_password') }}" method="POST">
    {{ g.form.hidden_tag() }}
    {{ render_field(g.form.password) }}
    {{ render_field(g.form.password_confirmation) }}
    <p><button type="submit">Set new password</button></p>
    <p><a href="{{ url_for('core.home')}}">Cancel</a></p>
  </form>
</section>
{% endblock %}