{% extends "base.html" %}
{% block content %}
<section>
  {% if g.subscription_available %}
  <form action="{{ url_for('user.subscribe') }}" method="POST">
    {{ g.form.hidden_tag() }}
    {{ render_field(g.form.login, True) }}
    {{ render_field(g.form.password) }}
    {{ render_field(g.form.password_confirmation) }}
    {{ render_field(g.form.email) }}
    <p><button type="submit">Create account</button></p>
    <p><a href="{{ url_for('core.home')}}">Already have an account, just login!</a></p>
  </form>
  {% else %}
  <p>Sorry, subscriptions are blocked for now...</p>
    <p><a href="{{ url_for('core.home')}}">Back to homepage</a></p>
  {% endif %}
</section>
{% endblock %}